{% extends 'base.html'%}
{%block content%}
{% load static %}

<div>
  <h3 id="ab">Our Inspiration</h3>
  <p id="ab">Love, compassion, empathy and tolerance – under the pressures of modern life, these qualities have all
    but disappeared.
    Through her loving embrace and charitable activities, Sri Mata Amritanandamayi Devi (affectionately known as AMMA
    or Mother)
    is healing the heart of the world, rekindling love and mutual respect, and awakening people to their fundamental
    oneness.
    It is through this simple yet powerful message that AMMA is transforming our world, one embrace at a time. In the
    past
    thirty years, AMMA has physically embraced more than 21 million people. AMMA’s teachings are universal. Whenever
    she is
    asked about her religion, she replies that her religion is Love. She does not ask anyone to believe in God or to
    change
    their faith, but only to inquire into their own Real Nature.</p>
  <img src="{% static '/images/Patient.jpg' %}" id="img2">

  <h3 id="ab">Our Vision</h3>
  <p id="ab">ABC Hospitals are world-class healthcare facilities and Centres of Excellence dedicated to improving the
    well-being of
    communities through quality programs of preventive and curative medicine, medical education, and research. We are
    committed to provide outstanding and affordable medical care in a patient-friendly environment and in a spirit of
    compassion to all, regardless of race, caste, religion, or economic condition.</p>
</div>



{% endblock %}