{% extends 'base.html'%}
{%block content%}
{% load static %} 

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h3>CANCELLATION POLICY FOR DOCTOR APPOINTMENT</h3>
            <hr style="width:600px">
            <p>We understand that there are times when you must miss an appointment due to emergencies or
                obligations for work or family. However, when you do not call to cancel an appointment, you
                may be preventing another patient from getting much needed treatment. Conversely, the situation
                may arise where another patient fails to cancel and other patients are unable to schedule for
                a visit, due to a seemingly “full” appointment book. If an appointment is not cancelled at least
                24 hours in advance you will be not refunded.</p>
        </div>
    </div>
</div>

{% endblock %}