{% extends 'base.html'%}
{%block content%}
{% load static %}
 
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h1>Address</h1>
      <p>ABC Hospital
        Ponekkara, AIMS (P.O.),
        Kochi 682 041, Kerala – India
        Phone: +91 484 668 1234, +91 484 285 1234
        Email : abchospitals@aims.abc.edu</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.472982448902!2d75.99975487407636!3d10.783082377071121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b976d4bc9669%3A0x6081e9175757a3a1!2sEdappal%2C%20Kerala!5e0!3m2!1sen!2sin!4v1665412753923!5m2!1sen!2sin"
        width="1000" height="350" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>
  </div>
</div>

{% endblock %}