{% extends 'base.html'%}
{%block content%}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h3>PRIVACY POLICY</h3>
            <hr style="width:150px">
            <p>A.B.C HOSPITAL has created this privacy statement in order to demonstrate our Hospital’s commitment
                to privacy.
                The following discloses our information gathering and dissemination practices for
                www.majhospital.com We use your
                IP address to help diagnose problems with our server and/or to administer our Web site. This gives
                us an idea of
                which parts of our site users are visiting. We do not link IP addresses to anything personally
                identifiable.
                This means that a user’s session will be tracked, but the user will be anonymous. Our site’s
                registration form
                requires you to give us your First name (Legal), last name (Legal), Mobile Number, and Hospital
                registration
                number etc to complete a token booking process. The credentials will reside with us. Correct
                information would
                grant you access to appointment booking portal. We store the information you provide to us and the
                information
                we collect electronically in our servers. We own, maintain and operate our computer servers
                containing our databases.
                Access to our computer servers is controlled and regulated. We recommend our users not to save the
                user name and
                password credentials in browsers you access the application. Your information is password-protected.
                In order to
                maintain this protection, we caution you not to provide your password to anyone. We do not give your
                password to anyone.
                You need to keep the id and password with you in hard copy or soft copy to maintain the privacy and
                not to share with anyone.
                We recommend that, if you share your computer with other people, you close your browser window when
                your session is completed.
                Signing off will protect your information if you share a computer with someone else or are using a
                computer in a public place.
                A.B.C HOSPITAL will not be responsible for any consequences / Losses/ issues caused by improper
                usage of your credentials as
                explained above as we don’t share your password with any one and the same is encrypted in our
                database. This is our current
                privacy and security policy, but we reserve the right to change our website and this policy at any
                time. We are requesting
                you to check this privacy policy periodically.</p>
        </div>
    </div>
</div>

{% endblock %}