{% extends 'base.html'%}
{%block content%}
{% load static %}

    
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">
            <h3>REFUND POLICY</h3>
            <hr style="width:150px;"
            <p>In case of a delayed receipt of payment from your bank side after the predefined 11 minutes window we
                would
                not be able to issue tokens. In such cases we would be processing the refund within 10 business days
                excluding
                Saturdays, Sundays and Bank holidays. The credit would reflect on your account based on the terms
                and conditions
                applicable for the corresponding banks you/we deal with. In case your account is debited and tokens
                are not issued
                due to technical reasons the above defined rule of refund is applicable. In case of a delayed
                consultation, absence of
                doctor, we might be forced to cancel the consultation. In such scenarios the amount credited for
                tokens booked would be
                refunded following the above defined guidelines of refund.</p>
        </div>
    </div>
</div>


{% endblock %}