{% extends 'base.html'%}
{%block content%}
{% load static %}


    


<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h3>TERMS AND CONDITIONS</h3>
            <hr style="width:150px;">
            <p>The use of any product, service or feature (the “Materials”) available through the internet web sites
                accessible
                at www.ABChospital.com
                (collectively, the “Web Site”) by any user of the Web Site (“You” or “Your” hereafter) shall be
                governed by the
                following terms of use:
                This Web Site is provided by A.B.C. HOSPITAL, a charitable trust, having its registered office at
                A.B.C.
                Hospital, Edappally, Kochi, Kerala,
                India and shall be used for informational purposes only. By using the Web Site or downloading
                Materials from the
                Web Site, You hereby agree
                to abide by the terms and conditions set forth in this Terms of Use. In the event of you not
                agreeing to these
                terms and conditions,
                you are requested by A.B.C. HOSPITAL not to use the Web Site or download Materials from the Web
                Site. This Web
                Site, including all
                Materials present (excluding any applicable third party materials), is the property of A.B.C.
                HOSPITAL. You
                hereby agree to comply with
                all copyright laws worldwide in your use of this Web Site and to prevent any unauthorized copying of
                the
                Materials. A.B.C. HOSPITAL does
                not grant any express or implied rights under any patents, trademarks, copyrights or trade secret
                information.
                A.B.C. HOSPITAL has business
                relationships with thousands of customers, suppliers, governments, and others. For convenience and
                simplicity,
                words like joint venture,
                partnership, and partner are used to indicate business relationships involving common activities and
                interests,
                and those words may not
                indicate precise legal relationships.</p>

            <h3>LIMITED LICENSE</h3>
            <hr style="width:150px;">

            <p>Subject to the terms and conditions set forth in these Terms of Use, A.B.C. HOSPITAL grants you a
                non-exclusive,
                non-transferable,
                limited right to access, use and display this Web Site and the Materials thereon. You agree not to
                interrupt or
                attempt to interrupt
                the operation of the Web Site in any manner. Unless otherwise specified, the Web Site is for your
                personal and
                non-commercial use.
                You shall not modify, copy, distribute, transmit, display, perform, reproduce, publish, license,
                create
                derivative works from, transfer,
                or sell any information, software, products or services obtained from this Web Site.</p>

            <h3>THIRD PARTY CONTENT</h3>
            <hr style="width:150px;">
            <p>The Web Site makes information of third parties available, including articles, analyst reports, news
                reports,
                tools
                to facilitate calculation,
                company information and data about financial markets, including any regulatory authority and other
                financial
                markets
                and other data from
                external sources (the “Third Party Content”). You acknowledge and agree that the Third Party Content
                is not
                created
                or endorsed by
                A.B.C. HOSPITAL. The provision of Third Party Content is for general informational purposes only and
                does not
                constitute a recommendation
                or solicitation to purchase or sell any securities or shares or to make any other type of investment
                or
                investment
                decision. In addition,
                the Third Party Content is not intended to provide tax, legal or investment advice. You acknowledge
                that the
                Third
                Party Content provided to
                you is obtained from sources believed to be reliable, but that no guarantees are made by A.B.C.
                HOSPITAL or the
                providers of the Third Party
                Content as to its accuracy, completeness, timeliness. You agree not to hold A.B.C. HOSPITAL, any
                business
                offering
                products or services
                through the Web Site or any provider of Third Party Content liable for any investment decision or
                other
                transaction
                You may make based on
                Your reliance on or use of such data, or any liability that may arise due to delays or interruptions
                in the
                delivery
                of the Third Party
                Content for any reason. By using any Third Party Content, You may leave this Web Site and be
                directed to an
                external
                website, or to a
                website maintained by an entity other than A.B.C. HOSPITAL. If you decide to visit any such site,
                you do so at
                your
                own risk and it is
                your responsibility to take all protective measures to guard against viruses or any other
                destructive elements.
                A.B.C. HOSPITAL makes no
                warranty or representation regarding, and does not endorse, any linked web sites or the information
                appearing
                thereon or any of the products
                or services described thereon. Links do not imply that A.B.C. HOSPITAL or this Web Site sponsors,
                endorses, is
                affiliated or associated with,
                or is legally authorized to use any trademark, trade name, logo or copyright symbol displayed in or
                accessible
                through the links, or that any
                linked site is authorized to use any trademark, trade name, logo or copyright symbol of A.B.C.
                HOSPITAL or any
                of
                its affiliates or subsidiaries.
                You hereby expressly acknowledge and agree that the linked sites are not under the control of A.B.C.
                HOSPITAL is
                not
                responsible for the contents
                of any linked site or any link contained in a linked site, or any changes or updates to such sites.
                A.B.C.
                HOSPITAL
                is not responsible for
                webcasting or any other form of transmission received from any linked site. A.B.C. HOSPITAL is
                providing these
                links
                to you only as a
                convenience, and the inclusion of any link shall not be construed to imply endorsement by A.B.C.
                HOSPITAL in any
                manner of the website.
            </p>
            <h3>NO WARRANTIES</h3>
            <hr style="width:150px;">
            <p>This web site, the information and materials on the site, and any software made available on the web
                site, are
                provided “as is” without
                any representation or warranty, express or implied, of any kind, including, but not limited to,
                warranties of
                merchantability, non infringement,
                or fitness for any particular purpose. There is no warranty of any kind, express or implied,
                regarding third
                party
                content. In spite of A.B.C.
                HOSPITAL best endeavors, there is no warranty on behalf of A.B.C. HOSPITAL that this web site will
                be free of
                any
                computer viruses. Some
                jurisdictions do not allow for the exclusion of implied warranties, so the above exclusions may not
                apply to
                you.
            </p>
            <h3>LIMITATION OF DAMAGES</h3>
            <hr style="width:150px;">
            <p>In no event shall A.B.C. HOSPITAL or any of its subsidiaries or affiliates be liable to any entity
                for any
                direct,
                indirect, special,
                consequential or other damages (including, without limitation, any lost profits, business
                interruption, loss of
                information or programs
                or other data on your information handling system) that are related to the use of, or the inability
                to use, the
                content, materials,
                and functions of this web site or any linked web site, even if A.B.C. HOSPITAL is expressly advised
                of the
                possibility of such damages.</p>
        </div>
    </div>
</div>

{% endblock %}